body {
  margin: 0;
  min-width: 960px;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #ffffff;
  background-color: #f2f4f6;
  background-image: url("фон.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 1px 0 50px;
  padding: 32px 0 32px;
}

.page-header .container,
.page-footer .container {
  max-width: 1408 px;
  text-align: right;
 color: #;
}

.page-header a {
  margin-left: 100px;
  color: #ffffff;;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.header-email {
  padding-left: 30px;
  background-image: url("icon-email-header.svg");
}

.header-phone {
  padding-left: 30px;
  background-image: url("icon-phone-header.svg");
}

.hero-image {
  margin: -0px -50px 300px;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32 px;
  line-height: 48 px;
}

.intro {
  margin: 0px 0 120px;
}

.subheading {
  margin: 100px 0px 50px;
  font-family: "OCR A Std", "monospace", "sans-serif";
  font-size: 64px;
  line-height: 80px;
  font-weight: 200;
  text-align: center;
}





.user-image {
  margin: 0px 0px 0px;
  text-align: center;

}

.intro h4,
.portfolio h4 {
  margin: 0px 0 0px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400px;
}
}

.intro h5,
.portfolio h5 {
  margin: 70px 0 0px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400px;
}

}

.intro h2,
.portfolio h2 {
  margin: -500px 0 0 px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 400px;
}



.intro p {
  margin: 0 0 0px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 0px;
  background-repeat: no-repeat;
  background-position: left;
}



.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 0px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0px 0 120px;
}

.projects {
  margin: 200px;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 0px;
}

.project-image1 {
  margin: 20px 0 0px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

}

.button1 {
  padding: 0px  10px;
  margin: 0px 0 0px;
  text-align: center;
}
}
.name {
padding: 10px 150px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #654321;
  color: #654321;

}
.button {
  padding: 10px 90px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: #7e5429;
  color: #ffffff;
}

.page-footer {
  padding:40px 40px 40px;
  background-color: #6e4b28;
  color: #ffffff;
}

.page-footer a {
  margin-left: 100px;
  color: white;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: centre;
}

.footer-email {
  padding-left: 30px;
  background-image: url("icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("icon-phone-footer.svg");
}
<style>
html {
  scroll-behavior: smooth;
}
 
#Обомне{
  height: 1000px;
  
}
 
#Давайтепознакомимся {
  height: 1000px;
  
}
</style>
 
</head>
